<h1>Secret Santa</h1>
<p>Enter the list of names and emails below:</p>

<form action="" method="post">
  <label for ="Name">
    Name 1:
 <input type="text" name="name_1">
 </label>
 <label for ="email">
   Email 1:
 <input type="text" name="email_1">
 </label>
 <br>

 <label for ="Name">
   Name 2:
 <input type="text" name="name_2">
 </label>
 <label for ="email">
  Email 2:
 <input type="text" name="email_2">
 </label>
 <br>

 <label for ="Name">
   Name 3:
 <input type="text" name="name_3">
 </label>
 <label for ="email">
  Email 3:
 <input type="text" name="email_3">
 </label>
 <br>

 <input type="submit" value="Submit">
</form>
